@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url("Images/Wallpaper-House.com_223381.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-position: center;
    width: 100%;
    position: relative;
}

header nav {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: rgb(225, 73, 124);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    padding: 0.7% 5% ;
    font-family: 'Concert One', cursive;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-family:  'Concert One', cursive;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(225, 73, 124);
}

.bake {
    background-color: rgb(225, 73, 124);
    border-radius: 1%;
    margin: 2%;
}

.bake {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bake .img {
   margin-left: 1rem;
}

.bake .recipes {
    margin-right: 1rem;
    margin-left: 1rem;
}

.bake .recipes ul {
    list-style: none;
}

.bake .recipes ul li {
    background-color: pink;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bake .recipes ul li {
  width: 100%;
  height: 110px;
  border-radius: 0.5%;
  margin-bottom: 1rem;
  object-fit: cover;
  padding: 1.5%;
  ;
}

.bake .recipes ul li img {
    width: 120px;
    height: 88px;
}

.bake .recipes ul li a {
    text-decoration: none;
    position: absolute;
    margin-left: 10px;
    font-family: 'Concert One', cursive;
    font-size: 1.2rem;
}

.bake .recipes ul li p {
    position: relative;
    bottom: 68px;
    padding-left: 130px;
    width: 100%;
    font-family: 'Concert One', cursive;
    flex-wrap: wrap;

}

.bake .recipes ul li button {
    position: relative;
    bottom: 65px;
    left: 130px;
    cursor: pointer;
    font-family: 'Concert One', cursive;
    font-size: 17px;
    background-color: pink;
    border: none;
    color: rgb(225, 73, 124);
    flex-wrap: wrap;
}


.bake .recipes ul li button a{
    display: flex;
    position: relative;
    bottom: -6px;
    left: -10px;
    font-size: 16px;
    color: rgb(225, 73, 124);
    flex-wrap: wrap;
}

.bake .recipes ul li button a:hover,
.bake .recipes ul li button a:active {
    color: rgb(167, 0, 56);
}

.brown {
    color: brown;
}


.container {
    position: relative;
    background-color: rgb(232, 66, 121);
    color: #fff;
    width: calc(50% - 32px);
    height: auto;
    padding: 32px;
    margin: 0 auto 4em auto;
    font-family: 'Concert One', cursive;
    cursor: pointer;
    border-radius: 1%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.imag-recipe {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imag-recipe img {
    width: 360px;
    height: 330px;
    border-radius: 2%;
    border: lightpink 4px solid;
    transition: transform 0.3s ease;
}

.imag-recipe img:hover {
  transform: scale(1.1);
}

.highlight {
    border: 0.1em dotted pink;
    margin-top: 0.2em;
    display: flex;
    padding: 0.5rem;
    gap: 10px;
    margin-bottom: 1em;
}

.Ingredients {
    display: grid;
    width: fit-content;
    height: auto;
    overflow: hidden;
}

h3 {
    margin-bottom: 0.5em;
}

hr {
    background-color: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2px;
    height: 20px;
    width: 100%;
    color: #fff;
    background-color: rgb(225, 73, 124);
    position: fixed;
    bottom: 0;
}

@media (max-width: 767px) {
    body {
      background-image: url("Images/Wallpaper-House.com_223381.jpg");
    }
  }
